version: "3.11"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    environment:
      - DOCKER_ENV=true
    depends_on:
      - backend
